Требования к проекту:
1) Разработать сущности и построить базу данных
2) Привести бд к третьей нормальной форма
3) Отсутствие аномалий и избыточности
4) Иметь возможность
	- Отслеживать ставки, поступления и выводы
	- Отслеживать статистику и популярность команд
	- Сохранять историю игр
	- Отслеживать периоды активности пользователей
