БАЗА ДАННЫХ ДЛЯ СЕРВИСА "ЖУРНАЛ ПОСЕЩЕНИЙ ПО ФИЗИЧЕСКОЙ КУЛЬТУРЕ"

Список требований:
1. Реализовать все сущности, заявленные в hw1.
2. Установить необходимые связи между сущностями
3. Иметь возможность:
   *) Иметь возможность отслеживать посещаемость каждому студенту и преподавателю.
   *) Сохранять посещения и расписание за различные семестры.
   *) Иметь возможность формировать "классический" журнал "табличку" для преподавателей.
5. Не допускать аномалии в базе данных при любых действиях пользователя
