Список требований к проекту:

1. Разработать список сущностей
2. Привести сущности к третьей нормальной форме
3. Построить схему базы данных
4. Избежать избыточности
5. Избежать взникновения аномалий обновления, включения, удаления
6. Разработать скрипты создания таблиц